body {
    font-family: Arial, sans-serif;
    background-color: #FFDFD6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.form-container {
    background-color: #B692C2;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 320px;
}
.form-container h2 {
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}
.form-group {
    margin-bottom: 15px;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}
.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #E3A5C7;
}
.helpline-number {
    margin-top: 20px;
    padding: 15px;
    background-color: #E3A5C7;
    border-radius: 4px;
    color: #000;
    text-align: center;
    font-weight: bold;
}
.helpline-number a {
    text-decoration: none;
    color: #000;
}
.helpline-number a:hover {
    text-decoration: underline;
}
